.main-header .sidebar-toggle:before {
    color: #fff;
}

.skin-purple-light .main-header .logo:hover {
    background-color: #31409b;
}


@media (max-width: 767px) {
  .main-sidebar {
      padding-top: 53px;
  }
  div.classShowMini {
    display:block !important;
  }
  div.classShow {
    display:none !important;
  }
  .main-header {
    display: none;
  }
  .content-wrapper
  {
    min-height: calc(100vh - 50px) !important;
  }

}

@media (min-width: 768px) {
  div.classShowMini {
    display:none !important;
  }
  div.classShow {
    display:block !important;
  }
}

.info-box-text
{
  font-size: 28px;
}

.small-box .icon {
    top: 6px;
    right: 10px;
    font-size: 80px;
}

.small-box:hover .icon {
    font-size: 85px;
}

.small-box>.small-box-footer {
    background: rgba(59, 59, 166);
}

.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(59, 59, 166, 0.8);
}

.aa{
    position: relative;
    display: block;
    padding: 10px 15px;
}

.aa:active, .aa:focus, .aa:hover {
    color: #444;
    background: #f7f7f7;
}


.icon-btn
{
  text-align: center;
  padding: 13px 0px 0px 0px;
  font-size: 66px;
  cursor: pointer;
}

.icon-btn:hover
{
  opacity: 0.5;
}

.fagency
{
  font-size: 24px !important;
  margin: 0 0 0px;
  color: #fff;
}

@media (max-width: 767px)
{
  .fagency {
      font-size: 20px !important;
  }
}

.info-box-number
{
  font-size: 28px;
  color: #FFC300;
}

.labelS{
  line-height: 40px;
  text-align:right;
  margin-bottom: 0px;
}
