.main-header .sidebar-toggle:before {
    color: #fff;
}

.skin-purple-light .main-header .logo:hover {
    background-color: #31409b;
}

@media (max-width: 767px)
{
  .main-sidebar {
      padding-top: 53px;
  }
}

@media (max-width: 767px) {
  div.classShowMini {
    display:block !important;
  }
  div.classShow {
    display:none !important;
  }
  .main-header {
    display: none;
  }

  .content-wrapper
  {
    min-height: calc(100vh - 85px) !important;
  }

  .info-box-text3 {
    width: calc(100vw - 165px) !important;;
  }
}

@media (min-width: 768px) {
  div.classShowMini {
    display:none !important;
  }
  div.classShow {
    display:block !important;
  }

  .modal-sm {
      width: 450px;
  }
}

.info-box {
    height: 225px;
}

.info-box-text {
  font-size: 24px;
}

.info-box-text2 {
  display: block;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-text3 {
  display: block;
  /* font-size: 22px; */
  width: calc(100vw - 150px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 1200px)
{
  .info-box-text3 {
      width: calc(26vw - 150px);
  }
}


.form-control2 {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    width: 200px;
    height: 37px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}


.form-control2:focus {
    border-color: #d2d6de;
    outline: 0;
}

.disabled
{
  pointer-events: none;
  /* background-color: #f1f1f1; */
  opacity: 0.5;
}

.tableReserve{
  padding: 2px;
  width: 20%;
  font-size:20px;
  text-align: center;
  background: #eeeeee;
}

.btnReserveFocus{
  background: #d2d6de;
}

.btnReserve
{
  font-size:20px;
  text-align: center;
  line-height: 0;
  padding: 0px;
}

.tRBl{
  border-left: 1px solid #ece6e6;
}

.info-box-icon {
    height: 70px;
    width: 90px;
    text-align: center;
    font-size: 40px;
    line-height: 84px;
}
.icon-fa {
    color: #a69d9d;
    font-size: 13px;
    margin-right: 5px;
}

.icon-fa2 {
    color: #a69d9d;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
}
