.main-header .sidebar-toggle:before {
    color: #fff;
}

.skin-purple-light .main-header .logo:hover {
    background-color: #31409b;
}

@media (max-width: 767px)
{
  .main-sidebar {
      padding-top: 53px;
  }
}

@media (max-width: 767px) {
  div.classShowMini {
    display:block !important;
  }
  div.classShow {
    display:none !important;
  }

  .main-header {
    display: none;
  }

}

@media (min-width: 768px) {
  div.classShowMini {
    display:none !important;
  }
  div.classShow {
    display:block !important;
  }

  .modal-sm {
      width: 450px;
  }
}

.nav-stacked li {
  border-bottom: 1px solid #f4f4f4;
}

.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    background: #d4d0d0;
}

.disabled
{
  pointer-events: none;
  background-color: #EEEEEE;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 50;
    margin-left: -45px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 100%);
}

.btntimeList {
  width:100%;
  border:0px;
  height: 50px;
  padding-top: 0px;
  background: linear-gradient(90deg, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 100%);
}

.noDisplay
{
  display: none !important;
}


.btntimeList:hover, .btntimeList:active, .btntimeList:focus {
    color: #444;
    /* background: #f7f7f7; */
    background: #d4d0d0;
}

.txtDate{
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
  height:55px;width:100%;
  padding: 0px 12px;
  border: 1px solid #ccc;
  color: #555;
}


.validate
{
  border: 1px solid #ff002f !important;
}

.txtSelect{
  font-size:18px;
  color:#999;
  margin:0px;
}

.txtArrow{
  font-size:18px;
  color:#999;
  margin-top:17px;
}


.info-box-text
{
  font-size: 28px;
}

.small-box .icon {
    top: 6px;
    right: 10px;
    font-size: 80px;
}

.small-box:hover .icon {
    font-size: 85px;
}

.small-box>.small-box-footer {
    background: rgba(59, 59, 166);
}

.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(59, 59, 166, 0.8);
}

.icon-btn
{
  text-align: center;
  padding: 13px 0px 0px 0px;
  font-size: 66px;
  cursor: pointer;
}

.icon-btn:hover
{
  opacity: 0.5;
}

.fagency
{
  font-size: 24px !important;
  margin: 0 0 0px;
  color: #fff;
}

@media (max-width: 767px)
{
  .fagency {
      font-size: 20px !important;
  }
}

.info-box-number
{
  font-size: 28px;
  color: #FFC300;
}

.labelS{
  line-height: 40px;
  text-align:right;
  margin-bottom: 0px;
}
