.login-page {
  /* The image used */
  /* background: #02001d !important; */
  background-image: url("../../../image/bg_tran.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.index-box
{
  width: 900px;
  margin: 3% auto;
}

@media (max-width: 800px) {
  .index-box
  {
    width: 100%;
    margin: 3% auto;
  }
  .main-header {
    display: none;
  }
}


.btn-app
{
  width: 280px;
  height: 140px;
  color:#01002d;
  border-left: 5px solid #01002d;
  border-color: #01002d;
}
