/* css login  */

.mar-zero{
  margin:0px;
}

.mar-btn-20{
  margin-bottom: 20px;
}

.icon-h{
  display: none;
}

.icon-r{
  color: #a94442 !important;
}

.login-page {
  /* The image used */
  /* background: #716f6f  !important; */
  background-image: url("../../../image/bg.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkbox {
    margin-top: 5px;
}

.colx {
   position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.login-box {
  margin-top: 10vw;
}

.login-logo .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.login-logo {
    margin-bottom: 10px;
}



.login-logo a{
  color: #inherit;
}

.login-box-msg{
  font-size: 22px;
  padding: 0px 20px 0px 20px;
}

/*------------------------*/

.login-logo img {
	/* width: 100%; */
}

.login-box-body {
	background: #ffffff;
}

.login-box a {
	color: #fe4203;
}

.login-box button[type=submit]{
	border: none;
	width: 100%;
  font-size: 24px;
  height: 44px;
  background-color: #005c9e;
  color: #fff;
}
